$handleSize: 8;
$handleOffset: -1 * $handleSize/2 + unquote('px');
$handleWidth: $handleSize + unquote('px');

.region {
  position: absolute;
  border: 1px dashed rgba(0,0,0,0.5);
  outline: 1px dashed rgba(255,255,255,0.5);
  cursor: move;
  z-index: 2;
}

.region-handle-se {
  position: absolute;
  bottom: $handleOffset;
  right: $handleOffset;
  width: $handleWidth;
  height: $handleWidth;
  outline: 1px solid rgba(0,0,0,0.5);
  border: 1px solid rgba(255,255,255,0.5);
  cursor: se-resize;
}

.region-handle-sw {
  position: absolute;
  bottom: $handleOffset;
  left: $handleOffset;
  width: $handleWidth;
  height: $handleWidth;
  outline: 1px solid rgba(0,0,0,0.5);
  border: 1px solid rgba(255,255,255,0.5);
  cursor: sw-resize;
}

.region-handle-nw {
  position: absolute;
  top: $handleOffset;
  left: $handleOffset;
  width: $handleWidth;
  height: $handleWidth;
  outline: 1px solid rgba(0,0,0,0.5);
  border: 1px solid rgba(255,255,255,0.5);
  cursor: nw-resize;
}

.region-handle-ne {
  position: absolute;
  top: $handleOffset;
  right: $handleOffset;
  width: $handleWidth;
  height: $handleWidth;
  outline: 1px solid rgba(0,0,0,0.5);
  border: 1px solid rgba(255,255,255,0.5);
  cursor: ne-resize;
}